.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 0.2px solid #c0d0df;
  box-shadow: 0px 3px 9px 1px rgba(124, 121, 121, 0.75);
  background-color: white;
  z-index: 2;

  .left,
  .middle,
  .right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    span {
      display: block;
      margin: 10px;
      color: #4a4a4a;
      transition: transform 1s ease-out;

      &:hover {
        color: black;
        transform: scale(1.02);
      }
    }
  }
  .middle {
    width: 50vw;
    justify-content: left;
  }
}
